BACKEND_API_URL=http://127.0.0.1:8000
TRINETRA_MODEL_URL=
TRINETRA_MODEL_SHA256=
TRINETRA_SPAGAN_ONNX_PATH=
TRINETRA_SPAGAN_ONNX_NAME=spagan_rice1.onnx
TRINETRA_TORCHSCRIPT_NAME=attention_resunet.ts
TRINETRA_ONNX_NAME=attention_resunet.onnx
TRINETRA_MAX_PATCH=512
TRINETRA_DEFAULT_TILE=256
TRINETRA_TILE_OVERLAP=48
TRINETRA_BATCH_SIZE=4
TRINETRA_NUM_WORKERS=2
TRINETRA_MAX_UPLOAD_MB=1024
TRINETRA_LOG_LEVEL=INFO
